.music-path {
    background: #2a2a2a;
    grid-area: music-path;
    overflow: hidden;

    .path-container {
        width: 100%;
        height: 100%;
        overflow: auto;

        .path-wrapper {
            flex-direction: column;
            justify-content: flex-start;
            display: grid;
            grid-template-areas: "path-header timeline"
                                "path-header path-list";
            grid-template-rows: 20px auto;
            grid-template-columns: 100px 100%;
            width: auto;
            min-width: fit-content;
            height: auto;
            min-height: 100%;

            .path-header {
                grid-area: path-header;
                position: sticky;
                left: 0;
                border-right: 1px solid #333;
                background: #2a2a2a;
                z-index: 1;

                &:before {
                    content: ' ';
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 20px;
                    background-color: #222;
                    position: sticky;
                    display: flex;
                }
            }

            .timeline-container {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                background-color: #222;
                color: #999;
                font-size: 12px;
                height: 20px;
                position: sticky;
                top: 0;
                grid-area: timeline;
                z-index: 1;

                .timeline-label {
                    width: 50px;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            .path-list {
                grid-area: path-list;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                min-width: fit-content;
                position: relative;
                --progress-pos: 0;

                &:after {
                    content: ' ';
                    width: 1px;
                    height: 100%;
                    background-color: blue;
                    position: absolute;
                    top: 0;
                    left: var(--progress-pos);
                }

                .path {
                    .path-item {
                        display: block;
                        position: absolute;
                        top: 0;
                        background: #0099ff;
                        border-radius: 3px;
                        border: 1px solid #000;
                        height: 5px;
                        --top-increment: 5px;

                        &.active {
                            background: #00c4ff;
                        }

                        &[data-sound-id=a] {
                            top: calc(var(--top-increment) * 0);
                        }

                        &[data-sound-id=s] {
                            top: calc(var(--top-increment) * 1);
                        }

                        &[data-sound-id=d] {
                            top: calc(var(--top-increment) * 2);
                        }

                        &[data-sound-id=f] {
                            top: calc(var(--top-increment) * 3);
                        }

                        &[data-sound-id=g] {
                            top: calc(var(--top-increment) * 4);
                        }

                        &[data-sound-id=h] {
                            top: calc(var(--top-increment) * 5);
                        }

                        &[data-sound-id=j] {
                            top: calc(var(--top-increment) * 6);
                        }

                        &[data-sound-id=k] {
                            top: calc(var(--top-increment) * 7);
                        }

                        &[data-sound-id=l] {
                            top: calc(var(--top-increment) * 8);
                        }

                        &[data-sound-id=";"] {
                            top: calc(var(--top-increment) * 9);
                        }

                        &[data-sound-id=w] {
                            top: calc(var(--top-increment) * 10);
                        }

                        &[data-sound-id=e] {
                            top: calc(var(--top-increment) * 11);
                        }

                        &[data-sound-id=t] {
                            top: calc(var(--top-increment) * 12);
                        }

                        &[data-sound-id=y] {
                            top: calc(var(--top-increment) * 13);
                        }

                        &[data-sound-id=u] {
                            top: calc(var(--top-increment) * 14);
                        }

                        &[data-sound-id=o] {
                            top: calc(var(--top-increment) * 15);
                        }

                        &[data-sound-id=p] {
                            top: calc(var(--top-increment) * 16);
                        }
                    }
                }
            }

            .path-list, .path-header {

                .path {
                    width: 100%;
                    height: calc(17 * 5px);
                    border-bottom: 1px solid #333;
                    color: #fff;
                    position: relative;
                    --data-preview-left-pos: 0;

                    &.selected {
                        background-color: rgba(0, 0, 0, 0.4);
                    }

                    &.dragover {
                        background-color: rgba(255, 255, 0, 0.5);

                        &:before {
                            content: ' ';
                            width: 100px;
                            height: 100%;
                            top: 0;
                            display: flex;
                            background: #0099ff;
                            position: absolute;
                            left: var(--data-preview-left-pos)
                        }
                    }
                }
            }
        }
    }
}
